@media (max-width: 1400px) {

    .BGKITODAN {

        object-fit: cover;
    }

    .FirstContent {
        overflow: hidden;
    }

    .text_button {
        transform: scale(1.1);
    }

    .RoundDiv {
        width: 600px;
        height: 600px;
    }

    .RoundDiv1 {
        width: 700px;
        height: 700px;
    }

    .RoundDiv2 {
        width: 850px;
        height: 850px;
    }

    .RoundDiv3 {
        width: 1050px;
        height: 1050px;
    }

    .RoundDiv4 {
        width: 1300px;
        height: 1300px;
        z-index: 1;
    }

    .RoundDiv5 {
        width: 1600px;
        height: 1600px;
    }

    .RoundDiv6 {
        margin-left: 0px;
        z-index: 1;
        width: 1950px;
        height: 1950px;
    }

}

@media (max-width: 768px) {
    .BGKITODAN {
        position: fixed;
        left: -50%;
        width: 100vw;
    }

    .text_button {
        transform: scale(0.9);
    }

    .RoundDiv {
        width: 350px;
        height: 350px;
        padding: 10px;
        z-index: 2;
        animation: changelocation1 60s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    .RoundDiv1 {
        width: 450px;
        height: 450px;
        z-index: 1;
        animation: changelocation1 60s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    .RoundDiv2 {
        width: 600px;
        height: 600px;
        z-index: 1;
        animation: changelocation1 60s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    .RoundDiv3 {
        width: 800px;
        height: 800px;
        z-index: 1;
        animation: changelocation1 60s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    .RoundDiv4 {
        width: 1095px;
        height: 1095px;
        z-index: 1;
        animation: changelocation1 60s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    .RoundDiv5 {
        width: 1350px;
        height: 1350px;
        animation: changelocation1 60s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    .RoundDiv6 {
        margin-left: 0px;
        z-index: 1;
        width: 1700px;
        height: 1700px;
    }

    @keyframes changelocation1 {
        0% {
            margin-bottom: -40px;
        }

        50% {
            margin-bottom: 40px;
        }

        100% {
            margin-bottom: -40px;
        }

    }

    .kitodanh1 {
        font-size: 42px;
        font-weight: 700;
        color: white;
        text-shadow: 0px 0px 8px #6fdd90;
    }

    .firstline {
        margin-top: 0px;
        font-size: 20px;
    }

    .secondline {
        margin-top: 0px;
        font-size: 26px;
    }

    .thirdline {
        margin-top: 30px;
        font-size: 16px;
    }

    .buttonselect {
        gap: 10px;
    }

    .buttonselect button {
        display: flex;
        justify-content: center;
        width: 140px;
        height: 50px;
    }

    .buttonselect h3:hover {
        transform: scale(1.02);
    }

    .fourthline {
        font-size: 12px;
    }
}