.PAGE2 {
    margin: 0;
    padding: 0;
    display: none;
    height: 100vh;
    background-color: #0f3b59;
}

.PAGE2::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(-250deg, #0f3b59 30%, rgba(0, 0, 0, 0) 65%) no-repeat;
    z-index: 1;
}

.bgblue {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    animation: visibility 1s;
}

.bgblue img {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.HOME2 {
    top: 0;
    position: absolute;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 580px;
    z-index: 2;
    transform: scale(0.9);
    animation: home-to-rigth 1s;
}

.KITODAN2 h1 {
    font-size: 72px;
    font-weight: 300;
    font-family: 'Poller One', cursive;
    color: #8dd6a7;
    margin: 0px;
    margin-left: -5px;
    padding: 0px;
}

.KITODAN2 h2 {
    margin-top: -20px;
    color: #FE8753;
}

.KITODAN2 h3 {
    font-size: 24px;
    color: #FE8753;
    margin-top: 30px;
}

.KITODAN2 p {
    margin-top: 10px;
    font-size: 16px;
    text-align: justify;
    word-spacing: 1px;
    letter-spacing: 1px;
    max-width: 100%;
    color: #abe1e8;
}

.SKILLS2 h3 {
    margin-top: 40px;
    font-size: 24px;
    color: #FE8753;
}

.skill2 h4 {
    margin-top: 10px;
    color: #abe1e8;
}

.progress-bar2 {
    background: #fe86532b;
    width: 580px;
    height: 8px;
    border-radius: 5px;
}

.progress-bar2 div {
    height: 8px;
    border-radius: 5px;
    width: 0%;
}

.wordpress1 {
    background: #FE8753;
    animation: wordpress1 1s linear forwards;
}

.wordpress2 {
    background: #abe1e8;
    animation: wordpress2 1s linear forwards;
}

.html1 {
    background: #FE8753;
    animation: html1 1s linear forwards;
}

.html2 {
    background: #abe1e8;
    animation: html2 1s linear forwards;
}

.css1 {
    background: #FE8753;
    animation: css1 1.1s linear forwards;
}

.css2 {
    background: #abe1e8;
    animation: css2 1.1s linear forwards;
}

.javascript1 {
    background: #FE8753;
    animation: javascript1 1.2s linear forwards;
}

.javascript2 {
    background: #abe1e8;
    animation: javascript2 1.2s linear forwards;
}

/*ANIMATION - PROGRESS BAR*/

@keyframes wordpress1 {
    100% {
        width: 95%;
    }
}

@keyframes wordpress2 {
    100% {
        width: 100%;
    }
}

@keyframes html1 {
    100% {
        width: 75%;
    }
}

@keyframes html2 {
    100% {
        width: 100%;
    }
}

@keyframes css1 {
    100% {
        width: 85%;
    }
}

@keyframes css2 {
    100% {
        width: 100%;
    }
}

@keyframes javascript1 {
    100% {
        width: 65%;
    }
}

@keyframes javascript2 {
    100% {
        width: 100%;
    }
}

/*ANIMATION - PROGRESS BAR*/

#myForm2 {
    margin-top: 50px;
    color: #abe1e8;
    width: 580px;
}

#myForm2 input {
    background-color: #0f3b59;
}

#myForm2 input[type="text"] {
    color: #abe1e8;
    border: 1px solid #abe1e8;
    border-radius: 10px;
    padding: 10px;
}

#myForm2 input[type="text"]:hover {
    border-color: #fe8653be;
}

.whatsappme2 button {
    background: linear-gradient(180deg, #80c996, #558f67);
    display: flex;
    justify-content: center;
    width: 580px;
    height: 100px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    align-items: center;
    margin-top: 20px;
    animation: buttonup 1.5s;
}

.whatsappme2 h3 {
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    margin: 0;
}

.whatsappme2 button:hover {
    background: linear-gradient(180deg, #FE8753, #b25d38);
    transform: scale(1.05);
    transition: 0.5s;
}

.buttons2 h4 {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #abe1e8;
}